<!-- home sectioln -->
<section id='home-section'>
  <div class='home-section-box'>
    <div class='container'>
      <div class='row'>
        <div class='col-md-6'>
          <div class='home-section-textctr'>

            <p class='home-txt1'>Hello, I'am Pramod</p>
            <p class='home-txt2' id='sentdata'>Full Stack
              <br /><strong>Developer</strong></p>
            <p class='home-txt3'>Android Application And <br />Web Developer</p>
            <form action='/contact' name='submit' method='POST'>
              <button
                class='home-btn-hire'
                id='hirebtn'
                name='submit'
                type='submit'
              >Hire Me</button>
            </form>

          </div>
        </div>
        <div class='col-md-6'>
          <div class='home-imgctr' class='text-center'>
            <img
              src='/Photos/avtarround.png'
              alt='Pramod Vaghasia Profile Photo'
              id='home-myavtar'
              class='img-fluid'
            />
          </div>

          <div class='home-btn-download text-center'>
            <a
              href='/public/files/Pramod Vaghasia Resume.pdf'
              download='Pramod_Vaghasia_Resume'
            >Resume</a>

            <i class='fa fa-download'></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- about sectioln -->
<section id='home-about-section'>
  <div class='about-section-box'>
    <div class='container text-center'>
      <div class='heading-horizontal'>
        <h5>Get To Know</h5>
        <h2>About Me</h2>
        <div class='border-horizontal'>&nbsp;</div>
      </div>
      <div class='row'>
        <div class='col-md-12'>
          <div class='about-section-textctr'>
            <div class='container'>
              <div class='row'>
                {{#each data.maboutData}}
                  <div class='col-md-12'>
                    <p class='about-txt1'>{{this.title}}</p>
                    <p class='about-txt2'>{{this.description}}</p>
                  </div>
                {{/each}}
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<!-- our services -->
<section id='home-service-section'>
  <div class='service-block'>
    <div class='container'>
      <div class='heading-horizontal text-center'>
        <h5>what I do</h5>
        <h2>My Services</h2>
        <div class='border-horizontal'>&nbsp;</div>
      </div>
      <div class='service-content'>
        <div class='row'>
          <div class='col-md-7'>
            <div class='service-left-icon'>
              <img
                src='/Photos/service.png'
                alt='service image'
                class='img-fluid'
              />
              <div style='margin-left: 100px; font-size: 10px'>Icons made by
                <a
                  href='https://www.flaticon.com/authors/itim2101'
                  title='itim2101'
                >itim2101</a>
                from
                <a
                  href='https://www.flaticon.com/'
                  title='Flaticon'
                >www.flaticon.com</a></div>
            </div>
          </div>
          <div class='col-md-5'>
            <div class='service-item-content'>
              {{#each data.mserviceData}}
                <div class='service-item'>
                  <div class='row'>
                    <div class='col-md-2'>
                      <div class='service-icons'>
                        <i class='fa fa-globe'></i>
                      </div>
                    </div>
                    <div class='col-md-10'>
                      <div class='service-right-text'>
                        <h5>{{this.title1}}</h5>
                        <h4>{{this.title2}}</h4>
                        <p>{{this.description}}</p>
                      </div>

                    </div>
                  </div>
                </div>
              {{/each}}

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- portfolio -->
<section id='home-portfolio-section'>
  <div class='container'>
    <div class='heading-horizontal text-center'>
      <h5>FIND MY WORK</h5>
      <h2>My WORK</h2>
      <div class='border-horizontal'>&nbsp;</div>
    </div>
    <div class='row'>
      {{#each data.mportfolioData}}
        <div class='col-md-4 col-sm-4'>
          <div class='port-content'>
            <img src='{{this.imglink}}' class='img-fluid' />
            <div class='port-overly'>
              <h3>{{this.title}}</h3>
              Photo by
              <a href='{{this.link1}}'>{{this.author}}</a>
              on
              <a href='{{this.link2}}'>Unsplash</a>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</section>

<!-- Contact -->
<section id='home-contact-section'>
  <div class='card-container'>
    <div class='container'>
      <div class='heading-horizontal text-center'>
        <h5>Who i am</h5>
        <h2>Get In Touch</h2>
        <div class='border-horizontal'>&nbsp;</div>
      </div>
      <div class='row'>
        <div class='col-md-6 col-sm-12'>
          <div class='aboutus-details'>
            <h2>Get In Touch</h2>
            <p>Reach out to me on below addresses.
            </p>
            <div class='row'>
              <div class='col-md-6'>
                <div class='about-datalist'>
                  <h5><i class='fa fa-dote'></i>Gujarat,India</h5>
                  <ul>
                    <li><i class='fa fa-mobile'></i>+91 98524 45854</li>
                    <li><i class='fa fa-envelope'></i>support@me.com</li>
                    <li>
                      <i class='fa fa-map-marker'></i><span>s/101 king street
                        varachha garvi
                        <br />
                        gujarat india</span>
                    </li>
                  </ul>
                </div>
              </div>
              <div class='col-md-6 col-sm-12'>
                <div class='about-datalist'>
                  <h5>Waterloo, Canada</h5>
                  <ul>
                    <li><i class='fa fa-mobile'></i>+201 98525 4585</li>
                    <li><i class='fa fa-envelope'></i>support@me.com</li>
                    <li>
                      <i class='fa fa-map-marker'></i><span>s/101 king street
                        varachha garvi
                        <br />
                        gujarat india</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class='about-scoicon'>
              <ul class='socialicon'>
                <li>
                  <a href='#'><i class='fa fa-facebook'></i></a>
                </li>
                <li>
                  <a href='#'><i class='fa fa-google-plus'></i></a>
                </li>
                <li>
                  <a href='#'><i class='fa fa-twitter'></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class='col-md-6'>
          <div class='form-box'>
            <h3>Contact Me</h3>
            <p>
              Fill below form to get in touch with me.
            </p>
            <div class='container'>
              <div class='row'>
                <div class='col-md-6'>
                  <input
                    class='form-control form-control-sm'
                    type='text'
                    placeholder='Your Name'
                  />
                </div>
                <div class='col-md-6'>
                  <input
                    class='form-control form-control-sm'
                    type='email'
                    placeholder='Your Email'
                  />
                </div>
                <div class='col-md-6'>
                  <input
                    class='form-control form-control-sm'
                    type='text'
                    placeholder='Your Company Name'
                  />
                </div>
                <div class='col-md-6'>
                  <input
                    class='form-control form-control-sm'
                    type='email'
                    placeholder='Your Contact Number'
                  />
                </div>
                <div class='col-md-12'>
                  <textarea
                    class='form-control'
                    placeholder='Write Description'
                    id='exampleFormControlTextarea1'
                    rows='8'
                  ></textarea>
                </div>
                <div class='col-md-12'>
                  <div class='form-btn'>
                    <button type='button' class='btn btn-general'>
                      &nbsp; Submit &nbsp;
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>