<html>
  <head>
    <title>{{Title}}</title>
    <!-- important meta tags -->
    <meta charset='utf-8' />
    <meta http-equiv='X-UA-Compatible' content='IE-edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    {{! online icon }}
    <link
      rel='stylesheet'
      href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'
    />

    <!-- Yeti Bootstrap Theme from bootswatch.com -->
    <link
      rel='stylesheet'
      href='/stylesheets/bootstrap/css/bootstrap.min.css'
    />

    {{! css for html }}
    <link rel='stylesheet' href='/stylesheets/style.css' />

    {{! responsiveness css for html }}
    <link rel='stylesheet' href='/stylesheets/responsive.css' />

    <!-- Navbar Bootstrap 4 code from w3schools -->
    <nav class='navbar navbar-expand-lg navbar-light bg-light'>
      <a class='navbar-brand' href='/'>Pramod Vaghasia</a>
      <button
        class='navbar-toggler'
        type='button'
        data-toggle='collapse'
        data-target='#mynavigation'

      >
        <span class='navbar-toggler-icon'></span>
      </button>

      <div class='collapse navbar-collapse' id='mynavigation'>
        <ul class='navbar-nav ml-auto'>
          <li class='nav-item {{#if activeHome}}active{{else}}''{{/if}}' >
            <a class='nav-link' href="/">Home</a>
          </li>
          <li class='nav-item {{#if activeAbout}}active{{else}}''{{/if}}'>
            <a class='nav-link' href="/about">About</a>
          </li>
          <li class='nav-item {{#if activeServices}}active{{else}}''{{/if}}'>
            <a class='nav-link' href="/service">Service</a>
          </li>
          <li class='nav-item {{#if activePortfolio}}active{{else}}''{{/if}}'>
            <a class='nav-link' href="/portfolio">Portfolio</a>
          </li>
          <li class='nav-item {{#if activeContact}}active{{else}}''{{/if}}'>
            <a class='nav-link' href="/contact">Contact</a>
          </li>
        </ul>
      
      </div>
    </nav>
   
  </head>
  <body>
    {{{body}}}
     <section>
 <footer id="footer">
      <p>
        Copyright @ 2021 All Rights Reserved By <strong>Pramod Vaghasia.</strong>
      </p>
    </footer>

    </section> 
    <script
      type='text/javascript'
      src='/stylesheets/jquery/jquery-min.js'
    ></script>
    <script
      type='text/javascript'
      src='/stylesheets/bootstrap/js/bootstrap.min.js'
    ></script>

  </body>
</html>