<!DOCTYPE html>
<html>
  <head>
    <title>{{Title}}</title>

    {{!-- online icon --}}
     <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  

    <!-- Yeti Bootstrap Theme from bootswatch.com -->
    <link rel='stylesheet' href="/stylesheets/bootstrap.min.css"/>

    
    {{!-- css for html --}}
    <link rel='stylesheet' href='/stylesheets/style.css' />

     
        {{!-- responsiveness css for html --}}
    <link rel='stylesheet' href='/stylesheets/responsive.css' />
    
    <!-- Navbar Bootstrap 4 code from w3schools -->
    <!-- A grey horizontal navbar that becomes vertical on small screens -->
    <nav class="navbar navbar-custom navbar-expand-lg">
      <div class="container-fluid">
        <div class="site-nav-wrapper">
    
          <div class="navbar-header">
            <a class="navbar-brand" href="/">
              Pramod Vaghasia
            </a>
          </div>
    
        </div>
      </div>
    
      <div class="navitem navbar-collapse">
        <ul class="navbar-nav">
          <li>
            <a href="/" class="{{#if activeHome}}active{{else}}''{{/if}}">Home</a>
          </li>
          <li>
            <a href="/about" class="{{#if activeAbout}}active{{else}}''{{/if}}">About</a>
          </li>
          <li>
            <a href="/resume">Resume</a>
          </li>
          <li>
            <a href="/service" class="{{#if activeServices}}active{{else}}''{{/if}}">Service</a>
          </li>
          <li>
            <a href="/portfolio" class="{{#if activePortfolio}}active{{else}}''{{/if}}">Portfolio</a>
          </li>
          <li>
            <a href="/contact" class="{{#if activeContact}}active{{else}}''{{/if}}">Contact</a>
          </li>
        </ul>
      </div>
    
    
    </nav>


  </head>
  <body>
    {{{body}}}
    <section>
 <footer id="footer">
      <p>
        Copyright @ 2021 All Rights Reserved By <strong>Pramod Vaghasia.</strong>
      </p>
    </footer>

    </section>
   
  </body>
</html>
